<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static  %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/emp">  
        {% csrf_token %}  
        {{ form.non_field_errors }}  
    <div class="container">  
      
<br>  
    <div class="form-group row">   
    <div class="col-sm-4">  
    <h3>User Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Id:</label>  
    <div class="col-sm-4">  
      {{ form.eid }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Full Name:</label>  
    <div class="col-sm-4">  
      {{ form.ename }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Email:</label>  
    <div class="col-sm-4">  
      {{ form.eemail }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Contact:</label>  
    <div class="col-sm-4">  
      {{ form.econtact }}  
    </div>  
  </div> 

  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Username:</label>  
    <div class="col-sm-4">  
      {{ form.username }}  
    </div>  
  </div> 
  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Password:</label>  
    <div class="col-sm-4">  
      {{ form.password }}  
    </div>  
  </div> 
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status:</label>
    <div class="col-sm-4">
        
          {{ form.status }}  
  
    </div>
</div>
    <div class="form-group row">   
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  



    </div>  
</form>  
</body>  
</html>  